@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --menu-width: 210px;
  --border-color: #f5f5f5;
}
html,
body,
#app {
  height: 100vh;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}

.ant-btn > span{
  display: inline-flex;
}
.anticon{
  display: inline-flex !important;
}

.form-item__require label::before {
  content: '*';
  color: #f00;
  margin-right: 5px;
}

.form-item__no_require label::before {
  content: '';
  margin-right: 10px;
}